# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
flutter_*.log

# IDE
.idea/
*.iml
.vscode/*
!.vscode/launch.json

# Platform generated
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Conductor workspace
.context/

# Agy workspace
.antigravitycli/

# MacOS
.DS_Store
