# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# IDE
.idea/
*.iml
.vscode/

# Platform generated
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Keep external references out of repo
reference_projects/
